<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/register/navbar.ejs') %>
    <main>
      <!-- Aqui será inserido o corpo da página -->
      <%- body %>
    </main>
  </body>
</html>
